<div class="silence-container">
  <div *ngIf="silenced" class="silenced">Silenced</div>
</div>
<form #mainInputForm="ngForm" class="main-event-container">
  <textarea
    autosize
    [minRows]="2"
    [maxRows]="24"
    type="text"
    placeholder="Your objectionable text here"
    rows="auto"
    name="mainInput"
    class="main-event"
    id="main-input"
    [(ngModel)]="mainInputText"
    #mainInputEle
    [style.color]="isObscene ? 'red' : isQuestionable ? 'yellow' : 'black'"
    [disabled]="silenced"
    (keydown)="checkForSend($event)"
    autofocus
  ></textarea>
  <button (click)="sendChatMessage()">Send</button>
  <div class="button-info-text">Shortcut: Ctrl-Enter</div>
</form>
